.services-submenu {
  width: 10rem;
  position: absolute;
  top: 75px;
  list-style: none;
  text-align: start;
  
}

.services-submenu li {
  background: #E9E9E9;
  cursor: pointer;
}

.services-submenu li a:hover {
  background: #E9E9E9;
}

.services-submenu.clicked {
  display: none;
}

.submenu-item {
  display: block;
  width: 80%;
  height: 100%;
  text-decoration: none;
  padding: 16px;
}
