.glass-title{
    margin-top: 1%;
    text-align: center;
}
.container-glass{
    width: 86%;
    margin: auto;
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-row-gap: 30px;
    grid-column-gap: 20px;
    background-color: rgba(222, 224, 224, 0.781);
    padding-top: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
    padding-right: 2%;
    border-radius: 30px;
}

.glass-cards{
    width: 240px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;

}
.glass-cards:hover{
    box-shadow: 0 10px 10px 10px rgba(0,0,0,0.1);
    cursor: pointer;
}
.image-box img{
    width: 175px;
    height: 200px;
}
.details p:nth-child(1){
    font-weight: bold;
}
.details button{
    padding: 5px 10px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.801);
    border-radius: 10px;
    margin-top: 10px;

}

.popup_container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.5);
    padding-top: 5%;
}

.popup_body{
    width: 100%;
    height: 70%;
    background-color: #fff;
    margin: auto;
    padding-left: 20px;
}

.popup-image{
    width: 70%;
}

.popup_header{
    width: 100%;
    text-align: right;
}

.xBtn{
    width:3%;
    margin-top: 10px;
    margin-right: 10px;
}

.left-popup{
    float: left;
    margin-top: 50px;
    margin-left: 150px;
}

.right-content{
    float: left;
    margin-top: 20px;
    margin-left: 100px;
    font: Arial bold;
    font-size: medium;
    line-height: 20px;
}

.price{
    position: fixed;
    margin-top: 10px;
}

.ddsize{
    margin-left: 5px;
    width: 30%;
    height: 20%
}

.ddthickness{
    margin-left: 5px;
    width: 30%;
    height: 20%
}

.custom-dialog{
    font-size: smaller;
    font-style: oblique;
    margin-top: 10px;
}

.custom-note{
    color: red;
}

.customForm{
    padding: 3%;
    background-color: rgb(233, 233, 218);
    margin-top: 10px;
    font-size: small;
    width: 80%;
}

input[type=number] {
    width: 15%;
    padding: 1px 2px;
    margin: 3px 3px;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.warning{
    height: 40px;
    width: 250px;
    position: absolute;
    right: 0;
    top: 10%;
    background-color: rgb(210, 91, 91);
    font-size: 1.1rem;
    color: black;
    font-family: cursive;
    padding: 5px;
    border-radius: 5px;
}

.addQuote{
    padding: 5px 10px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.801);
    border-radius: 10px;
    margin-top: 40px;
    cursor: pointer;
}